<!DOCTYPE html>
<html>
<style>
	font body {
		font-family: 'Anton';
		font-style: normal;
		font-weight: 400;
	}
	body {
		font-family: Arial, sans-serif;
	}
	.image {
		width:1024px;
	}
	table, th, td {
  		border: 1px solid lightgrey;
  		border-collapse: collapse;
	}
</style>
<script>
	window.onload = function(){
		let currentImage = '{{currentImage}}';
		setImage(currentImage)
	}

	function setImage(fileName){
		console.log("Got click for new image : "+fileName);
		currentImage = fileName;
		document.getElementById('currentImage').innerHTML = currentImage;
		document.getElementById('image').src='/image?id='+fileName;
	}
</script>
<head>
{% set numColumns = 15 %}
</head
	<title>ImgView</title>
	<h2>List of Images in: {{dirpath}}</h2>
	<table>
			<tr>
	{% for i in range(pathIds|length)%}
		{% if i> 1 and (i) is divisibleby(numColumns)  %}
			<tr>
		{% endif %}
				<td style="position:relative;vertical-align:top" id="img_{{i}}">
					<label style="top:2px;left:2px;">{{fileNames[i]}}</label>
					<img id='thumb' src="{{ url_for('static',filename='images/'+thumbFileNames[i]) }}" 
							onclick="setImage('{{fileNames[i]}}')"
							class="thumb"/>
				</td>
		{% if i > 0 and (i+1) is divisibleby(numColumns) %}
			</tr>
		{% endif %}
  	{% endfor %}
	</table>
	<panel>
		<h3>Current Image:<p id='currentImage'></p></h3>
		<img id='image' class="image"/>
	</panel>
</html>
        
